body {
margin: 0;
font-family: Lucida Grande;
background-color: #eceff5;

}
.head1 {
  padding-left: 20%;
  color: white;

}
.heading {
  background-color: #4760A4;
  display: flex;
  justify-content: space-between;

}

.h1 {
  margin: 5px;
}
.l1 {
  padding: 42px 0 24px;

}
.form1 {
  display: flex;
  color: white;

}

.main {
  display: flex;
  background-color: #EDF0F6;

}

.lside {
  flex-direction: column;
  background-color: #EDF0F6;
  padding-left: 15%;
  padding-bottom: 3fr;

}

.l2 {
  font-size: 19px;
  margin-bottom: 20px;
  font-weight: 400;
}

.icons {
width: 565px;

}


.rside {
background-color: #EDF0F6;
width: 399px;
}

.footer {
  position: fixed;
  bottom: 0;
}
