body {
margin: 0;
display: grid;
font-family: Lucida Grande;

}
.head1 {
  padding-left: 20%;
  color: white;

}
.heading {
  background-color: #4760A4;
  display: flex;
  justify-content: space-between;

}

.form1 {
  display: flex;
  color: white;

}

.main {
  display: flex;
  background-color: #EDF0F6;

}

.lside {
  background-color: #EDF0F6;
  padding-left: 10%;

}

.icons {
 align-items: baseline;
}

.rside {
background-color: #EDF0F6;
padding-right: 40%;
}

.footer {
  position: fixed;
  bottom: 0;
}
