body {
display: grid;
grid-template: 1fr 1fr / 100%;
font-family: Lucida Grande;

}

.heading {
  width: 100%;
  background-color: #39539D;
  grid-column-start: 1;
  grid-column-end: span end;

}

.f1 {
  display: flex;

}

.main {
  display: flex;
  justify-content: center;
}

.lside {

  background-color: #EDF0F6;
}

.rside {
background-color: #EDF0F6;
}

.footer {
  position: absolute;
  bottom: 0;
}
